html
    head
        title MYAPP
    body(class =["My class"])
        h1(id ='Myid') My app
        p 
            h3 sub header
        ul
                
         each val in list
          li= val

